<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultServerNo</key>
	<integer>0</integer>
	<key>servers</key>
	<array>
		<dict>
			<key>name</key>
			<string>华创开户</string>
			<key>indexUrl</key>
			<string>https://phone.hczq.com/indexnew?befromFlag=other</string>
			<key>uploadPicUrl</key>
			<string>https://phone.hczq.com/upload/</string>
			<key>uploadVideoUrl</key>
			<string></string>
			<key>cookieDomain</key>
			<string>phone.hczq.com</string>
			<key>cookiePath</key>
			<string>/</string>
			<key>videoServerIp</key>
			<string>180.166.161.186</string>
			<key>videoServerPort</key>
			<string>8906</string>
			<key>versionCode</key>
			<string>99999999</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华创掌厅</string>
			<key>indexUrl</key>
			<string>https://sjwt.hczq.com/index?befromFlag=other&amp;wshl=1</string>
			<key>uploadPicUrl</key>
			<string>https://sjwt.hczq.com/upload/</string>
			<key>uploadVideoUrl</key>
			<string></string>
			<key>cookieDomain</key>
			<string>sjwt.hczq.com</string>
			<key>cookiePath</key>
			<string>/</string>
			<key>videoServerIp</key>
			<string>180.166.161.186</string>
			<key>videoServerPort</key>
			<string>8906</string>
			<key>versionCode</key>
			<string>99999999</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华创小贷款</string>
			<key>indexUrl</key>
			<string>https://sjxdt.hczq.com/xdtIndexNewList</string>
			<key>uploadPicUrl</key>
			<string>https://sjxdt.hczq.com/upload/</string>
			<key>uploadVideoUrl</key>
			<string></string>
			<key>cookieDomain</key>
			<string>sjxdt.hczq.com</string>
			<key>cookiePath</key>
			<string>/</string>
			<key>videoServerIp</key>
			<string>sjxdt.hczq.com</string>
			<key>videoServerPort</key>
			<string>8906</string>
			<key>versionCode</key>
			<string>99999999</string>
		</dict>
	</array>
</dict>
</plist>
